* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-background {
    background: url("C:/Users/someo/OneDrive/Desktop/Mystery Mansion/src/assets/images/Slogan Background.jpg") no-repeat center center;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-size: cover;
    background-position: center;
}

.brand-name {
    font-family: Impact, sans-serif;
    color: white;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    margin: 2em 0;
}

.nav-item {
    color: white;
}

svg {
    color: white;
}

.slogan-container {
    padding: 10% 0;
    text-wrap: wrap;
}

.slogan-title {
    font-size: 3.5em;
    color: white;
    margin-top: 1.5em;
    font-family: Impact, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slogan-description {
    font-size: 2.5em;
    color: white;
    margin-top: 1.5em;
    font-family: Impact, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Login Form Styles */
.login-header-background {
    background-color: black;
    width: 100%;
}

label {
    color: black;
    font-weight: bold;
}


.login-form-container {
    background-color: #fff;
    width: 40%;
    margin: 5em auto;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid orange;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
}

.login-background {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    padding: 10em;
}