* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.brand-name {
    font-family: Franklin Gothic Medium, sans-serif;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    color: black;
}

.slogan-img{
    background: url("https://picsum.photos/200/300") no-repeat center;
    width: 100px;
    height: 500px;
}

.header-background {
    background-image: linear-gradient( 109.6deg,  rgba(75,228,255,1) 11.2%, rgba(188,204,251,1) 100.6% );
    background-size: cover;
    background-position: center;
}