* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-background {
      background: url("C:/Users/someo/OneDrive/Desktop/Mystery Mansion/src/assets/images/Slogan Background.jpg") no-repeat center center;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.brand-name {
    font-family: Impact, sans-serif;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    margin: 2em 0;
}

.nav-item {
    color: black;
}

.slogan-container {
    background-color: black;
}

.slogan-img{
    background: url("C:/Users/someo/OneDrive/Desktop/Mystery Mansion/src/assets/images/Slogan Background.jpg") no-repeat center center;
    width: 100px;
    height: 580px;
    max-width: 100%;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
}

.slogan-title {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    margin-top: 1.5em;
    font-family: Bahnschrift SemiBold, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slogan-description {
    font-size: 2em;
    color: white;
    margin-top: 4.5em;
}

.features-title {
    font-family: Impact, sans-serif;
}

.features-container {
    background-image: url('C:\Users\someo\OneDrive\Desktop\Mystery Mansion\src\assets\images\Features Background.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.card-background {
    background-image: radial-gradient( circle farthest-corner at 6.3% 21.8%,  rgba(236,6,117,1) 0%, rgba(13,32,67,1) 90% );
}

.card-background h3 {
    color: white;
}

.card-text {
    color: white;
}


/* Login Form Styles */
.login-form-container {
    background-color: #fff;
    width: 40%;
    margin: 5em auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
}

.login-background {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    padding: 10em;
}